html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

.topnav {
  position: fixed;
  background: rgba(0, 0, 0, 0.4);
  width: 100%;
  height: 50px;
  top: 0;
  z-index: 98;
  transition: 500ms;
}

@media (max-width: 420px) {
  .topnav {
    width: 30px;
    height: 0;
    padding-top: 50px;
    border-radius: 5px;
    padding-left: 10px;
    padding-right: 10px;
    height: 0;
    top: 5px;
    left: 5px;
    overflow: hidden;
    border-radius: 6px;
    background: rgba(0, 0, 0, 0.3);
  }
}

.nav-item {
  display: inline-block;
  vertical-align: middle;
}

@media (max-width: 420px) {
  .nav-item {
    display: block;
  }
}

.nav-item.active a {
  color: #75e4e8;
}

.nav-item a {
  text-decoration: none;
  font-size: 16px;
  font-weight: bold;
  display: block;
  padding: 10px 20px;
  color: #fff;
  position: relative;
  font-family: sans-serif;
}

.nav-item a.logo {
  font-size: 26px;
  font-family: 'Audiowide', cursive;
}

.nav-item a:after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 50%;
  right: 50%;
  height: 3px;
  background: #75e4e8;
  border-radius: 5px;
  transition: all 800ms cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.nav-item a:hover:after {
  left: 0;
  right: 0;
  height: 3px;
  z-index: -1;
}

.burger-toggle {
  position: fixed;
  top: 5px;
  left: 5px;
  width: 50px;
  height: 50px;
  z-index: 99;
  opacity: 0;
  display: none;
}

@media (max-width: 420px) {
  .burger-toggle {
    display: block;
  }
}

.burger-toggle:checked~.btn-burger {
  background: transparent;
}

.burger-toggle:checked~.btn-burger:before {
  transform: translate3d(0, 0, 0) rotate(-45deg);
}

.burger-toggle:checked~.btn-burger:after {
  transform: translate3d(0, 0, 0) rotate(45deg);
}

.burger-toggle:checked~.topnav {
  width: 300px;
  max-width: 80%;
  height: auto;
}

.burger-toggle:checked~.wrapper {
  position: fixed;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  transform: scale(0.9);
  transform-origin: 100% 50%;
  z-index: 0;
  opacity: 0.6;
  filter: blur(3px);
}

body {
  background: #000;
}

.wrapper {
  transition: all 1000ms cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.btn-burger {
  display: none;
  position: fixed;
  top: 28px;
  left: 15px;
  width: 30px;
  height: 3px;
  background: #fff;
}

@media (max-width: 420px) {
  .btn-burger {
    display: block;
  }
}

.btn-burger:before {
  content: '';
  position: absolute;
  left: 0;
  width: 30px;
  border-radius: 5px;
  height: 3px;
  background: #fff;
  transform: translate3d(0, -8px, 0);
  transition: 300ms cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.btn-burger:after {
  content: '';
  position: absolute;
  left: 0;
  width: 30px;
  border-radius: 5px;
  height: 3px;
  background: #fff;
  transform: translate3d(0, 8px, 0);
  transition: 300ms cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.hero {
  padding-top: 50px;
  height: 500px;
  text-align: center;
  background: linear-gradient(to bottom, rgba(100, 161, 183, 0.7) 0%, rgba(255, 255, 255, 0.3) 100%), url(https://images.unsplash.com/photo-1491514104444-e033f313a5fc?ixlib=rb-0.3.5&s=ef869c5171c5bc82888aa0c42e46b924&auto=format&fit=crop&w=1350&q=80) no-repeat center/cover;
}

.page-home .hero {
  height: 500px;
  background: linear-gradient(to bottom, rgba(100, 161, 183, 0.7) 0%, rgba(255, 255, 255, 0.3) 100%), url(https://images.unsplash.com/photo-1491514104444-e033f313a5fc?ixlib=rb-0.3.5&s=ef869c5171c5bc82888aa0c42e46b924&auto=format&fit=crop&w=1350&q=80) no-repeat center/cover;
}

.page-blog .hero {
  background: linear-gradient(to bottom, rgba(100, 161, 183, 0.7) 0%, rgba(255, 255, 255, 0.3) 100%), url(https://images.unsplash.com/photo-1510776632413-f3e527a8dc42?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=a5703227ec13ae76e69fda1ad27da26f&auto=format&fit=crop&w=1350&q=80) no-repeat center/cover;
}

.hero:before {
  content: "";
  display: inline-block;
  /*width:2px;*/
  height: 100%;
  /*background:#fff;*/
  vertical-align: middle;
}

.hero hgroup {
  display: inline-block;
  vertical-align: middle;
}

.hero .avatar {
  width: 140px;
  height: 140px;
  display: inline-block;
}

.hero .avatar img {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.9);
}

.hero .header-title {
  font-size: 50px;
  font-family: 'Audiowide', cursive;
  color: #34587c;
  margin-top: 10px;
}

.social {
  margin-top: 20px;
}

.social a {
  display: inline-block;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  font-size: 35px;
  color: #fff;
  line-height: 53px;
  margin: 0 10px;
}

.social a:hover {
  animation: fb 500ms;
}

.social a.btn-fb {
  background: #426782;
}

.social a.btn-ig {
  background: radial-gradient(circle at 30% 107%, #fdf497 5%, #fd5949 45%, #d6249f 60%, #285AEB 90%);
}

@keyframes fb {
  0% {
    transform: translate3d(0, 0, 0);
  }
  50% {
    transform: translate3d(0, -10px, 0);
  }
  100% {
    transform: translate3d(0, 0, 0);
  }
}

.inner {
  width: 960px;
  margin: 0 auto;
}

@media (max-width: 960px) {
  .inner {
    width: 100%;
  }
}

.cell-group {
  display: table;
}

.cell {
  display: table-cell;
}

.feature {
  background: #fff;
}

.feature .cell {
  width: 25%;
  background: #fff;
  padding: 20px;
  text-align: center;
  font-family: sans-serif;
}

@media (max-width: 600px) {
  .feature .cell {
    width: calc(50% - 20px);
    display: inline-block;
  }
}

@media (max-width: 420px) {
  .feature .cell {
    display: block;
    width: auto;
  }
}

.feature i {
  display: inline-block;
  width: 64px;
  height: 64px;
  background: #18316d;
  border-radius: 50%;
  font-size: 35px;
  line-height: 65px;
  color: #fff;
}

.feature i:before {
  background: linear-gradient(to bottom, #75e4e8 0, #fff 100%);
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
}

.feature .feature-title {
  font-size: 25px;
  margin: 5px 0;
}

.feature p {
  line-height: 1.4;
}

.page-blog .wrapper {
  background: #ccc;
}

.bloglist {
  padding: 20px;
}

.blogitem {
  margin: 20px 0;
  display: table;
  width: 100%;
  font-family: sans-serif;
  background: #fff;
  border-radius: 5px;
  box-shadow: 0 0 1px rgba(0, 0, 0, 0.4);
  transition: 300ms;
}

.blogitem:hover {
  box-shadow: 0 10px 30px -5px rgba(0, 0, 0, 0.3);
}

.blogimg {
  display: table-cell;
  width: 30%;
  background-size: cover;
  background-position: center;
}

.blogcontent {
  display: table-cell;
  width: 70%;
  padding: 20px;
}

.blog-title {
  font-size: 20px;
  margin: 0 0 10px;
}

.blog-sumary {
  line-height: 1.5;
  margin: 0 0 10px;
}

.blog-date {
  color: #999;
}