extend pug/basic
block var
 - var pagetitle = "My Home Page"
 - var layout = "hasaside"
 - var currentUrl = "blog.html"
 - var pageclass="page-blog"
block header
  hgroup
    h1.header-title Food's Blog
block content
  mixin blogitem(title,date,imgurl)
     .blogitem
       .blogimg(style="background-image: url("+ imgurl+ ")")
       .blogcontent
         h4.blog-title #{title}
         .blogsumary
           block
         .blog-date #{date}
    
  .bloglist
    +blogitem('Card01','2018/04/16','https://images.unsplash.com/photo-1466978913421-dad2ebd01d17?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=719292378935d0f9168f11f9ad00558d&auto=format&fit=crop&w=1267&q=80')|Fugit adipisci cupiditate provident, temporibus, consequuntur cum! Dolore, debitis iusto expedita veritatis, velit, ipsam quidem recusandae similique exercitationem fugiat aliquid, qui! Quidem, error. Iure ab eveniet illo et eaque voluptates.
    +blogitem('Card02','2018/04/16','https://images.unsplash.com/photo-1509482560494-4126f8225994?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=d83444d00e203e8d569f1b169b35f671&auto=format&fit=crop&w=800&q=80')|Neque blanditiis autem quasi natus adipisci! Veritatis architecto, dignissimos distinctio laudantium obcaecati optio earum quas officia ipsam quae, similique reiciendis accusantium tempore quisquam impedit, reprehenderit alias placeat quaerat cupiditate, molestias!
    +blogitem('Card03','2018/04/16','https://images.unsplash.com/photo-1528502499757-107ea9369104?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=36603654c469fe6ecf2788ddc804e285&auto=format&fit=crop&w=634&q=80')|Dolorum placeat repellat asperiores nemo numquam nam soluta dolores ullam dicta odio in incidunt neque, ea alias architecto distinctio labore veritatis quaerat voluptas voluptatem autem a! Doloremque maxime, dolorem suscipit.
    +blogitem('Card04','2018/04/16','https://images.unsplash.com/photo-1522946962233-e8cd84e0a677?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=2360958af81ebbb3159d3267e93e9bd8&auto=format&fit=crop&w=1350&q=80')|Maiores, itaque dolores voluptas sed molestiae, quo neque numquam eveniet quos deleniti necessitatibus pariatur accusantium, labore, natus cupiditate quam ut ex eos amet harum fugit error voluptates. Quos, natus, dolores.
    +blogitem('Card05','2018/04/16','https://images.unsplash.com/photo-1505253304499-671c55fb57fe?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=a194e76b2970a942dbb29ba2548d95a0&auto=format&fit=crop&w=634&q=80')|At impedit asperiores et dignissimos voluptates, eaque, itaque, facilis praesentium blanditiis sint ipsum. Dolorum ratione omnis aliquam minus eos non, ullam blanditiis asperiores expedita recusandae impedit beatae unde, ab laboriosam.
    +blogitem('Card06','2018/04/16','https://images.unsplash.com/photo-1504113888839-1c8eb50233d3?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=d7d856d142419fe0000798f4928aa7b2&auto=format&fit=crop&w=1315&q=80')|Ipsam ratione corporis ad veniam recusandae soluta quaerat, iste, repellendus consequuntur tenetur corrupti beatae maiores. Vitae veniam explicabo beatae, nihil ex obcaecati. Numquam omnis error deleniti, nostrum nihil. Autem, ipsum.