extend pug/basic
block var
 - var pagetitle = "My Home Page"
 - var layout = "onlycenter"
 - var currentUrl = "index.html"
 - var pageclass="page-home"
block header
  hgroup
    h1.header-title There are many tasty foods!!!!
    .header-text Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fugiat esse vel, aperiam cum totam obcaecati molestias, delectus odio eius saepe ab dicta commodi quibusdam vitae quis, alias rem quo magni. 
    a.btn-detail(href="#") Learn more
    .social
      a.btn-fb(href="http://www.facebook.com/MaryYuTasty/" target="_blank")
        i.fab.fa-facebook-f
      a.btn-ig(href="http://www.instagram.com/" target="_blank")
        i.fab.fa-instagram
block content
  section.feature
    .inner.cell-group
      .cell
        i.fas.fa-utensils
        h3.feature-title Yummy!
      .cell
        i.fas.fa-utensils
        h3.feature-title Yummy, yummy!
      .cell
        i.fas.fa-utensils
        h3.feature-title Yummy, yummy, yummy!
      .cell
        i.fas.fa-utensils
        h3.feature-title And yummy!